.a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.a1 p {
    border: 3px dashed blue;
    padding: 20px;
    margin: 20px;
    background-color: #f2f2f2;
}

.d1 h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    color: darkblue;
}

.d1 p {
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    color: gray;
}

.s {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.s img {
    width: 180px;
    border-radius: 10px;
}

.content {
    width: 50%;
    line-height: 1.6;
    text-align: justify;
}

p {
    text-align: justify;
}

.s1 {
    border: 2px solid black;
    padding: 20px;
    background-color: #f9f9f9;
}

.s1 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s1 p {
    background-color: black;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    cursor: pointer;
}
